<%- include("partials/header"); -%>
<div class="landing-hero">
    <h1>Thank you for your submission. Your reference sheet will be in your inbox within 24 hours.</h1>
</div>

<%- include("partials/footer"); -%>